@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');
:root{
  --bg-main: #131722;
  --main-color:#fff;
}

body {
 background-color: var(--bg-main) !important;
 color: var(--main-color) !important;
 font-family: 'Montserrat Alternates', sans-serif !important;
}
 
input{
  background-color: transparent !important;
  color: var(--main-color) !important;
}

